<html>
	<head>
		<title>Prepare Slides</title>
		<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/rte.css" />
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1_min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.rte.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>
	</head>
	<body>
		<ul>
		{% for slide in slides %}
			<li><p>{{ slide }}</p></li>
		{% endfor %}
		</ul>
	</body>
</html>